@import "tailwindcss";

/*******/

@font-face {
    font-family: 'NorseBold';
    src: url('/fonts/Norse-Bold.otf') format('opentype');
}
/*******/

@theme{
    --font-norse: 'NorseBold', sans-serif;
}
/*******/

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
}

.leftside-footer{
    color: rgba(255, 255, 255, 0.800);
}

.header-container, .form-container, .bottom-container{
    padding: 0 4%;
}

.form-container{
    background-color: white;
    width: 100%;
}

#name-info-fieldset, #contact-info-fieldset, #password-info-fieldset{
    display: flex;
    border: none;
}

.rightside-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    gap: 32px;
}